.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(93, 90, 90, 0.392);
    position:fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color:#2F363E;
}  

.nav__notification {
    position: absolute;
    left: 18px;
    bottom: 15px;
}

.nav__dot {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: 25px;
}